.field-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 calc(450px - 95%);
}

.already-registered {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

@media only screen and (max-width: 500px) {

  .field-container {
    width: 95%;
    padding: 0;
    display: flex;
    /* justify-content: space-between; */
  }
}

@media only screen and (max-width: 430px) {
  .field-container {
    gap: 15px;
  }
}