.reset-password-container {
  width: 100%;
  height: 70vh;
  display: grid;
  place-content: center;
  text-align: center;
}

.second-container {
  background-color: #151515;
  padding: 20px 30px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.second-container h1 {
  margin-bottom: 10px;
  font-size: 30px;
}

.second-container h3 {
  margin-bottom: 20px;
  font-size: 18px;
  color: #555;
  width: 500px;
}

.third-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.btn-reset {
  width: 100%;
  height: 55px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0;
  background-image: linear-gradient(to right, #31aba6 0%, #3a7bd5  51%, #31aba6  100%);
  color: #fff;
  transition: 0.5s;
  background-size: 200% auto;
}

.btn-reset:hover {
  background-position: right center; 
  color: #fff;
  text-decoration: none;
}

input[type="email"] {
  width: 90%;
  height: 55px;
  margin: 10px 0;
  text-indent: 10px;
  border-radius: 6px;
  border: none;
  font-weight: 600;
  background-color: #222;
  color: var(--gray-color);
  font-size: 16px;
}